python-dotenv
flask
pypdf
langchain
langchain-core
langchain-community
langchain-experimental
langchain-huggingface
langsmith
chromadb
sentence-transformers
transformers
torch
huggingface-hub
numpy
scikit-learn
nltk
jupyter
gunicorn

