flask
python-dotenv
langchain
langchain-core
langchain-community
langchain-huggingface
chromadb
huggingface-hub
langdetect
gtts
gunicorn
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.0+cpu
sentence-transformers