<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>ASTRABOT 🌱</title>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

<div class="chat-button" id="chatButton">
    Message Us 🌱
</div>

<div class="chat-box" id="chatBox">

    <div class="chat-box-header">
        <span>ASTRABOT</span>
        <span id="closeBtn" style="cursor:pointer;">✖</span>
    </div>

    <div class="chat-box-body" id="chatBody">
        <div class="message bot-message">
            <div class="message-content">
                Hi! I'm ASTRABOT 🌱. How can I help you today?
            </div>
        </div>
    </div>

    <div class="chat-box-footer">
        <input id="userInput" type="text" placeholder="Ask your question..." />
        <button id="voice-btn">🎤</button>
        <span class="send" id="sendBtn">➤</span>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>



